*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family: rubik, sans-serif;
    font-weight: 400;
    color: #555;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

/* ========================= Heaader ======================== */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4.8rem;
    height: 9.6rem;
    background-color: #fdf2e9;
    z-index: 1;
}

header .logo{
    width: 30%;
}

header .logo img{
    width: 164px;
    height: 22px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

header nav .nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


header nav .nav-list li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.3s;
    color: #333;
    padding: 10px 20px;
}

header nav .nav-list li a:hover{
    color: #e67e22;
}

header nav .nav-list li a.last{
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

/* ========================= Hero Section ======================== */

.hero{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;*/

    width: 100%;
    margin: 0;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 9.6rem;
    align-items: center;
    background-color: #fdf2e9;
}

/* .hero .hero-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */

.hero .hero-text .main-heading{
    font-size: 5.2rem;
    color: #333;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.hero .hero-text .hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero .hero-text .hero-buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.hero .hero-text .hero-buttons button{
    padding: 1.5rem 3rem;
    font-size: 2rem;
    margin-bottom: 5.2rem;
    font-weight: 600;
    transition: all 0.3s;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.hero .hero-text .hero-buttons .start-eating{
    background-color: #e67e22;
    color: #fff;
}

.hero .hero-text .hero-buttons .start-eating:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.hero .hero-text .hero-buttons .learn-more{
    background-color: #fff;
    color: #555;
    border: 5px solid #fff;
}

.hero .hero-text .hero-buttons .learn-more:hover{
    border: 5px solid #fff;
    background-color: #fdf2e9;
}

.hero .hero-text .deliveries{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.hero .hero-text .deliveries .deliver-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .hero-text .deliveries .deliver-text span{
    color: #e67e22;
}

.hero .hero-text .deliveries .deliver-images img{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.hero .hero-image{
    width: 570px;
    height: 560px;
}

.hero .hero-image img{
    width: 100%;
}

/* ========================= Featured Section ======================== */

.featured-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem;
}

.featured-section .logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}

.featured-section .logos .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-section .logos .logo img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
    z-index: -1;
}

/* ========================= How it Work Section ======================== */

.how-it-work{
    display: flex;
    flex-direction: column;
    padding: 8rem;
}

.section-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.section-heading .subheading{
    font-size: 1.6rem;
    font-weight: 550;
    color: #cf711f;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.section-heading .heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    color: #333;
}

.article{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.article .article-text{
    width: 50%;
}

.article .article-text .number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.heading-ternary{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    color: #333;
}

.article .article-text .article-description{
    font-size: 1.8rem;
    line-height: 1.8;
}

.article .article-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.article .article-image img{
    width: 35%;
    z-index: -1;
}

.article .article-image::before {
    width: 60%;
    /* height: 20%; */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -3;
}

.article .article-image::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -2;
}

.article .article-image::before, .article .article-image::after{
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ========================= Meals Section ======================== */

.meals-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.meal-heading{
    text-align: center;
}

.meal-heading .heading-secondary{
    margin-top: 2rem;
}

.meals-section .meals-cards{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    gap: 6.5rem;
    /* max-width: 120rem;
    margin: 0 auto; */
}

.meals-section .meals-cards .card{
    height: 100%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 7px 5px 0px rgb(138, 135, 135); */
    /* box-shadow: -8px 65px 157px -52px rgb(138, 135, 135); */
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    transition: .3s ease;
    z-index: 0;
}

.meals-section .meals-cards .card:hover{
    transform: translateY(-3%);
}

.meals-section  .meals-cards .card .card-image img{
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.meals-section  .meals-cards .card .card-content{
    padding: 4rem;
}

.meals-section .meals-cards .card .card-content .type{
    margin-bottom: 1rem;
}

.meals-section .meals-cards .card .card-content .type .tag{
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 50px;
    padding: 5px;
    color: #333;
    padding: 0.4rem 0.8rem;
}
.vegeterian{
    background-color: #51cf66;
}
.vegan{
    background-color: #94d82d;;
}

.paleo{
    background-color: #ffd43b;
}

.card-heading{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 2.2rem;
}

.card-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.card-list li{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.card-list li i{
    color: #e67e22;
}

.diet-list{
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.diet-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.diet-list ul li{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}

.diet-list ul li i{
    color: #e67e22;
}

.see-all a{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    transition: .3s linear;
    font-size: 1.8rem;
}

.see-all a:hover{
    border-bottom: 1px solid transparent;
}


/* ========================= Testimonials Section ======================== */

.testimonials-section{
    background-color: #fdf2e9;
    /* display: flex;
    width: 100%;
    flex-direction: row; */
    /* display: grid;
    grid-template-columns: 55fr 45fr; */
    align-items: center;
    margin-bottom: 8rem;
}
.testimonials-section .testimonials-container{
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    padding: 9.6rem;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.testimonials .testimonial{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.testimonials .testimonial img{
    width: 6.4rem;
    border-radius: 50%;
}

.testimonials .testimonial .test-description{
    font-size: 1.8rem;
    line-height: 1.8;
}

.testimonials .testimonial .test-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}


.testimonials-section .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 1.6rem;
    padding: 1.6rem;

}

.testimonials-section .gallery .gallery-image{
    overflow: hidden;
}

.testimonials-section .gallery .gallery-image img{
    width: 100%;
    display: block;
}



/* ========================= Pricing Section ======================== */

.pricing-section{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pricing-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    gap: 6.5rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 120rem;
    align-items: center;
}

.price-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    padding: 4.8rem;
    width: 85%;
}

.starter{
    border: 2px solid #fdf2e9;
}

.complete{
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.complete:after{
    content: "best value";
    position: absolute;
    top: 5%;
    right: -30%;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 0.8rem;
    transform: rotate(45deg);
    width: 250px;
    text-align: center;
}

.price-card .price-heading{
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.price-card .price{
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
}

.price-card .price span{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.price-card .price-description{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.price-card .what-you-get{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.price-card .what-you-get li{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}
.price-card .what-you-get li i{
    color: #e67e22;
}

.price-card .start-now{
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    background-color: #e67e22;
    color: #fff;
}

.pricing-description{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 9.6rem;
}

.reasons-why{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2.5rem 6rem;
    gap: 4rem;
    width: 100%;
    flex-wrap: wrap;
}

.reasons-why .reason-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
}

.reason-image i{
    padding: 1.5rem;
    border-radius: 50%;
    color: #e67e22;
    background-color: #fdf2e9;
}

.reason-heading h3{
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.reason-description p{
    font-size: 1.8rem;
    line-height: 1.8;
}


/* ========================= Contact Section ======================== */

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    background-color: #e67e22;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
    width: 85%;
    min-height: 48rem;
}

.contact-text{
    width: 60%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    /* justify-content: center; */
}

.contact-text h2{
    color: #45260a;
    /* color: inherit; */
    margin-bottom: 3.2rem;
    font-size: 4.4rem;
    line-height: 1.2;
}

.contact-text p{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
    color: #45260a;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    justify-content: center;
}

.contact-form .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-form .row .field{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 45%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.contact-form .row .field input:focus, select:focus{
    /* outline: 3px solid #fff; */
    outline: 7px solid rgba(255, 255, 255, 0.4);
}

.contact-form .row .field input, select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.contact-form .row .field label{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #333;
}

.contact-form .row .signup-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-form .row .field button{
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

.contact-form .row .field button:hover{
    background-color: #fff;
    color: #333;
}


.contact-photo{
    width: 40%;
    background-image: linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) ), url('img/eating.jpg');
    background-size: cover;
    background-position: center;
}


/* =========================== Footer Section ======================== */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.footer .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    width: 90%;
    height: 100%;
    border: 1px solid transparent;
    flex-wrap: wrap;
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    height: 20rem;
    border: 1px solid transparent;
    padding: 1rem;
}

.logo-container a img{
    height: 2.2rem;
}

.logo-container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.6rem;
}

.logo-container ul li a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #767676;
    transition: .3s ease;
}

.logo-container .copyright{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.col{
    display: flex;
    align-items: flex-start;
    height: 20rem;
    border: 1px solid transparent;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
}

.footer-list .first{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.footer-list li{
    font-size: 1.6rem;
    color: #555;
}

.footer-list li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #555;
    transition: .3s all ease;
}




/* =========================== Menu icon ======================== */

/* .background{
    z-index: 5;
    position: absolute;

} */

.header .background .menu-icon{
    display: none;
    flex-direction: column;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.header .background .menu-icon span{
    height: 4px;
    width: 30px;
    background-color: black;
    margin: 2px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1;
}

.menu-icon.active span:first-child{
    transform: translateY(8px) rotate(45deg);
}
.menu-icon.active span:nth-child(2){
    transform: rotate(-45deg);
}
.menu-icon.active span:nth-child(3){
    visibility: hidden;
    opacity: 0;
}

/* =========================== Menu icon ======================== */


/* =========================== Media ======================== */

@media(max-width: 1100px){
    html{
        font-size: 52.5%;
    }
    header nav{
        display: none;
    }

    .header .background .menu-icon{
        display: flex;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero .hero-text .hero-buttons , .deliveries{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .hero-image{
        width: 520px;
        height: 510px;
    }
    .pricing-cards{
        width: 38%;
    }
}

@media(max-width: 1000px){
    html{
        font-size: 42.5%;
    }
    .hero .hero-image{
        width: 480px;
        height: 470px;
    }
}

@media(max-width: 800px){
    html{
        font-size: 36.5%;
    }
    .hero .hero-image{
        width: 420px;
        height: 410px;
    }
    .article{
        display: flex;
        flex-direction: column;
    }
    .article .article-text{
        width: 100%;
        margin-bottom: 5rem;
    }
    .article .article-image{
        width: 100%;
    }
    .article .article-image img{
        width: 80%;
    }
    .art-seccond{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(max-width: 600px){
    .hero .hero-image{
        width: 370px;
        height: 360px;
    }
    /* .meals-section .meals-cards{
        width: auto;
    } */
}

@media(max-width: 400px){
    .hero .hero-image{
        width: 320px;
        height: 310px;
    }
}

/* =========================== Media ======================== */


/* =========================== Responsive Navigation ======================== */

.responsive-menu{
    position: absolute;
    min-height: 100vh;
    top: 0%;
    right: 0%;
    background-color: white;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.resp-nav-list{
    min-height: 60vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.resp-nav-list li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.3s;
    color: #333;
    padding: 10px 20px;
}

.resp-nav-list li a:hover{
    color: #e67e22;
}

.resp-nav-list li a.last{
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.animation-add{
    animation-name: resp-animate;
    animation-duration: .5s;
    display: flex;
}

.animation-remove{
    animation-name: resp-animate-remove;
    animation-duration: .5s;
    right: -100%;
    display: flex;
}

@keyframes resp-animate{
    from{right: -100%}
    to{right: 0}
}

@keyframes resp-animate-remove{
    from{right: 0%}
    to{right: -100%}
}

/* =========================== Responsive Navigation ======================== */

/* =========================== Sticky navbar animation ======================== */
.content{
    padding: 60px;
}

.sticky{
    position: fixed;
    /* top: 0; */
    /* width: 100%; */
    /* transition: .3s linear; */
    animation-name: navbar-animate;
    animation-duration: .8s;
    visibility: visible;
    /* transition: .4s linear; */
}

.sticky-remove{
    /* top: 0; */
    /* position: fixed; */
    top: 0px;
    animation-name: navbar-animate-remove;
    animation-duration: .8s;
    /* visibility: visible; */
}

@keyframes navbar-animate{
    from{top: -100px}
    to{top: 0px}
}

@keyframes navbar-animate-remove{
    from{top: 100px}
    to{top: 0px}
}

.sticky + .content{
    padding-top: 60px;
}

/* =========================== Sticky navbar animation ======================== */